.datamaps-bubble:hover{
	cursor: pointer;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: darkred;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.centerImage {
  display: block;
  margin: auto;
}

#seasonTable table {
	border-collapse: collapse;
}
#seasonTable  tr td{
	border-top: 1px solid #000;
	padding: 10px;
}

#seasonTable  tr td:nth-child(6n + 1){
	text-align: right;
}

#seasonTable  tr td:nth-child(6n + 2){
	text-align: right;
}

#seasonTable  tr td:nth-child(6n + 3){
	text-align: right;
}

#seasonTable  tr td:nth-child(6n + 4){
	text-align: center;
}

#seasonTable  tr td:nth-child(6n + 5){
	text-align: left;
}

#seasonTable  tr td:nth-child(6n ){
	text-align: left;
}

#seasonTable tr.loss{
	background-color: #FFCCCC;
}

#seasonTable tr.win{
	background-color: #CCFFCC;
}

#seasonTable tr.draw{
	background-color: #FFFFCC;
}

#backBtn{
	width: 40px;
	font-family: 'armata', sans serif;
	font-size: 12px;
	padding: 5px;
	border: 1px solid rgb(70, 130, 180);		
}

#backBtn:hover{
	background-color: rgba(70, 130, 180, 0.6);
	color: black;
	cursor: pointer;
}