body {
    font-family: 'Lato',sans-serif;
    font-size: 14px;
}

.datamaps-bubble:hover{
	cursor: pointer;
}

.bar {
  fill: steelblue;
}

.selectedBar {
  fill: darkred;
}

.bar:hover {
  fill: darkred;
  cursor: pointer;
}

.axis {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.centerImage {
  display: block;
  margin: auto;
}

.mapc {
    height: 500px;
    margin: 0 auto;
    position: relative;
    width: 750px;
}

.tall {
    height: 750px;
    width: 1600px;
}

@media (max-width: 980px) {

	#map{
		height: 300px;
		width: 100%;
	}
}

#map {
	margin: 0 auto;
	position: relative; 
	width: 1600px; 
	height: 800px;
	text-align: center;
}

#teamLabel {
	padding-bottom: 10px;
	padding-top: 10px;
	/*text-align: center;*/
	font-size: 20px;
}

#goalBarContainer, #ptsBarContainer {
	float: left;
}

#seasonTable table, #tableLabel{
	width: 50%;
    margin: 0 auto;
}

#barContainer {
	width: 50%;
}

#tableLabel  {
	padding-bottom: 5px;
	/*white-space: nowrap;*/
}

#seasonTable  {
	font-size: 13px;
}

#seasonTable table {
	border-collapse: collapse;
}

#seasonTable  tr td{
	border-top: 1px solid #000;
	padding: 5px 10px 5px 10px;
}

#seasonTable  tr td:nth-child(6n + 1), #seasonTable  tr td:nth-child(6n + 2), #seasonTable  tr td:nth-child(6n + 3){
	text-align: right;
}

#seasonTable  tr td:nth-child(6n + 4){
	text-align: center;
}

#seasonTable  tr td:nth-child(6n + 5), #seasonTable  tr td:nth-child(6n ){
	text-align: left;
}

#seasonTable tr.loss{
	background-color: #FFCCCC;
}

#seasonTable tr.win{
	background-color: #CCFFCC;
}

#seasonTable tr.draw{
	background-color: #FFFFCC;
}

#dialogForm {
}

#backBtn, #okBtn, #cancelBtn{
	width: 40px;
	padding: 5px;
	border: 1px solid rgb(70, 130, 180);
	text-align: center;
	font-size: 12px;
}

#okBtn, #cancelBtn{
	float: right;
}

#okBtn {
	margin-right: 5px;
}

#backBtn {
	margin-top: 8px;
}

#backBtn:hover, #okBtn:hover, #cancelBtn:hover{
	background-color: rgba(70, 130, 180, 0.6);
	color: black;
	cursor: pointer;
}

#btnContainer {
	padding-top: 10px;
}

#labelContainer {
	padding-bottom: 5px;
}

#selectorDialog {
	border: 1px solid #000;
	position: absolute;
	display: none;
	padding: 15px;
	left: -1000px;
	box-shadow: 0 0 6px 0 #777;
	background-color: rgb(255, 255, 255);
	z-index: 1001;
}

#barTool {
	border: 1px solid #000;
	position: absolute;
	display: none;
	padding: 15px;
	left: -1000px;
	box-shadow: 0 0 6px 0 #777;
	background-color: rgb(255, 255, 255);
	z-index: 1001;
}

#overlay {
	height: 100%;
	width: 100%;
	background-color: #777;
	background-color: hsla(0,0%, 0%, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}